name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r virtual_vehicle/requirements.txt
    - name: Lint with pylint
      run: |
        # Stop the build if there are Python syntax errors or undefined names
        # We allow it to pass if score is > 8.0
        PYTHONPATH=. pylint virtual_vehicle/ --fail-under=8.0
    - name: Test with pytest
      run: |
        PYTHONPATH=. pytest --cov=virtual_vehicle --cov-report=xml
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        fail_ci_if_error: false
